a{
    color: black;
    font-size:30px;
}
img{
    margin-top: 100px;
    border-style:double;
    border-color:white;
    border-width:100px;
    zoom:50%;
}
    body{
    font-family: 'Amatic SC', cursive;
    background-color:pink;
    /*background: url("http://www.pptbackgrounds.org/uploads/lined-paper-powerpoint-backgrounds.jpg") no-repeat center;*/
    background-size: cover;
    text-align:center;
}
p{
    font-size:30px;
}
ul{
    font-size:30px;
}
ol{
    font-size:30px;
}